@charset "utf-8";
/* CSS Document */





/*corpo do site */
body{
	
	background-image: url(imagem/redes1.png);
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #030303;

}
/*Menu principal */
nav#menu{
	width: 960px;
	background: #fff;
	margin: 40px;
    float:left;
	border-radius: 5px;
	
}
nav#menu ul{
	margin: -1px;
	padding: 5px;
	list-style: none;
	text-transform: uppercase;
	position:absolute;
	left: 28%;
	
}
nav#menu li{
	float: left;
	font: 16px Elephant;
	display: inline-block;
	background-color: #dddddd;
	padding: 15px;
	margin: 0px;
	transition: background-color 1s;
}
nav#menu li:hover {
	background: #606060;
}
nav#menu a{
	
	color: #888;
	text-decoration: none;	
	color:black;
	padding: 2px;	
}
article{
	background-color: #E8E8E8;
	width: 40%;
	padding: 10%;
	top: 300px;
	left: 20%;
	border-radius: 30px;
	position: absolute;
}
article h2{
	font-family: fixed, Consolas, "Andale Mono", "Lucida Console", "monospace";
	text-align: center;
	font-size: 200%;
	
}
article p{
	font-family: arial;
	font-size: center;
	text-align:justify;
}
.conteudo{
	margin-top: -120px;
	margin-bottom: 0px;
	margin-left: -70px;
	margin-right: -70px;
}
 .print1{
	width: 1000px;
	height: 500px;
	}
footer{
         
            text-align: center;
            border: solid 1px Gray;
            font-size:8pt;
            font-family: Verdana;
            font-weight:bold;
            width:100%;
            color: #010101;
            position:fixed;
            bottom:0px;
            left:2px;
        }